/* Sobrepondo o fundo */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.203); Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garantir que o modal fique acima de outros elementos */
  }
  
  /* Estilos do conteúdo do modal */
  .modal-content {
    background-color: #789383;
    background-color: #597b78;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 40%;
    text-align: center;
    position: relative;
    top: -15.8%; 
    left: 41.5%;
  }
  
  /* Estilo do botão de fechar */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  p{
    color: #eaf4f4;
  }

  .Link{
    color: #eaf4f4;
    position: relative;
    top: 2px; 
    left: -50px;
    font-size: 120%;
    text-decoration: none;
  }

  .Link1{
    color: #eaf4f4;
    position: relative;
    top: 2px; 
    left: -60px;
    font-size: 120%;
    text-decoration: none;
  }

  .foto{
  width: 15%;
  position: relative;
  top: 10px; 
  left: -60px;
  display: inline-block; 
  }

  .foto2{
    width: 15%;
    position: relative;
    top: 10px; 
    left: -50px;
    display: inline-block;  
  }

 