body{

    background: #214B51;
    margin: 0;
}

hr{
    margin-top: -80px;
    margin-bottom: 45px;
    margin-left: 4%;
    width: 38%;
    height: 60%;
}

/* .img-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
    margin-left: 2%;
} */

.img-section p{
    color: #EAF4F4;
    margin-left: 2%;
    width: 50%;
    font-size: 30px;
    align-items: center;
    padding-top: -10%;
}

/* img{
    width: 38%;
    margin-right:75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    
} */

.sejabemvindo{

    color: #EAF4F4;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    width: fit-content;
    margin: 4% 4%;
    margin-top: 1%;
    margin-left: 8%;
    
}

.navbar-boasvindas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #0E3B43;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 120px;
}
.navbar-boasvindas img{

    width:15% ;
    height:55px ;
    position: absolute;
    left: 1%;
    top: 3.5%;
    margin-left: 1%;
}

/* .img{
    margin-top: -8%;
} */

.Bu-entrar{
    color: #0E3B43;
    margin-top: 3%;
    margin-left: 24%;
    font-size: 130%;
}

.Bu2-entrar{
    color: #0E3B43;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 130%;
}

.button-boasvindas {
    --color: #EAF4F4;
    padding: 0.8em 1.7em;
    background-color: #EAF4F4;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    width: 10%;
    height: 30%;
    text-decoration: none;
   }
 
   .button-boasvindas::before, .button-boasvindas::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #a3bbad;
    transition: 1s ease;
   }
 
   .button-boasvindas::before {
    top: -1em;
    left: -1em;
   }
 
   .button-boasvindas::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
 
   .button-boasvindas:hover::before, .button-boasvindas:hover::after {
    height: 410px;
    width: 410px;
   }
 
   .button-boasvindas:hover {
    color: rgb(10, 25, 30);
   }
 
   .button-boasvindas:active {
    filter: brightness(.8);
   }

   
.sejabemvindo{

    color: #EAF4F4;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    width: fit-content;
    margin: 4% 4%;
    margin-top: 2%;
    margin-left: 5%;
    /* border: 2px solid red; */
}

hr{
    margin-top: -80px;
    margin-bottom: 45px;
    margin-left: 4%;
    width: 38%;
    height: 60%;
    /* border: 2px solid pink; */
}

/* .img-section-boasvindas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
    margin-left: 2%;
} */


.imglogo-boasvindas{
    width: 38%;
    margin-right:75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    
}

.img-crianca-boasvindas{
    margin-top: -25%;
    margin-left: 56%;
    /* border: 2ps solid yellow; */
    width: 38%;
    margin-right:75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    
}

.tea-boasvindas{
    color: #e8e9e4;
    margin-left: 3.9%;
    width: 80%;
    font-size: 34px;
    align-items: center;
    padding-top: -1%;
} 

.img-section-boasvindas p{
    /* border: 3px solid purple; */
    width: 50%;
    margin-top: -2%;
}