.w{
    background-color: rgba(202, 222, 213, 0.192);
    width: 30%;
   margin-left: 35%;
   margin-top: 10%;
   height: 60vh;
   border-radius: 5%;
}

h1{
   font-optical-sizing: auto;
        color: #EAF4F4;
        margin-left: 20%;
        font-size: 280%;
        /* border: 2px solid red; */
        padding-top: 5%;
        
}
.inforUsuario{
margin-top: 10%;
/* border: 2px solid lawngreen; */
}

.titulo{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: #EAF4F4;
    width: fit-content;
    margin-top: 5%;
  }

  /* label{
    margin-top: -5%;
  } */


  .b {
    margin-left: 13%;
    height: 44px;
    width: 72%;
    background-color: #EAF4F4;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .inputk{
    margin-top: -5%;
    margin-left: -5%;
  }
  
  .label2 {
    padding-right: 80%;
    width: 5%;
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #EAF4F4;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
    margin-left: 15%;
    margin-top: -5%;
    /* border: 2px solid red; */
    display: inline;
  }
  
  .b:hover, .b:focus, .inputk:hover .a {
    outline: none;
    border-color: #a3bbad;
  }
  
  .inputk:hover .label, .b:focus {
    color: #EAF4F4;
  }
  

.info{
    margin-top: 3%;
}

.editar {
    border: 2px solid palegoldenrod;
    --color: #EAF4F4;
    padding: 0.8em 1.7em;
    background-color: #EAF4F4;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: #214b51;
    z-index: 1;
    margin-top: 4%;
    padding-top: -1px;
    width: 30%;
    margin-left: 60%;
   }
   
   .editar::before, .editar::after {
    content: '';
    display: block;
    width: 20%;
    height: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .editar::before {
    top: -1em;
    left: -1em;
   } 
   
   .editar::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   } 
   
   .editar:hover::before, .editar:hover::after {
    height: 410px;
    width: 410px;
   } 
   
  .editar:hover {
    color: #214b51;
   } 
   
    .editar:active {
     filter: brightness(.8);
    }